body, html {
  height: 100%;
  font-family: "Mountains of Christmas", cursive, Arial;
  display: flex;
  flex-direction: column;
  color: #0e8f15;
  font-size: 12px;
  letter-spacing: .2rem;
  /* border: ridge red 10px; */
}

html {
  background-image: url(https://cdn.pixabay.com/photo/2017/12/20/16/49/christmas-3030279_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header, body, footer {
  font-size: 2rem;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

.header-text {
  color: red;
  font-weight: bold;
}


main {
  color: red;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#result-container {
  text-align: center;
}

#game-info {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 20px;
  column-gap: 25%;
}

#player-score, #computer-score {
  width: 200px;
  padding: 10px;
}

.player-pick, .computer-pick {
  background: rgb(5, 5, 31);
  border-radius: 50%;
  padding: 5px;
  height: 225px;
  width: 225px;
}

.play-buttons {
  background-color: rgb(227, 227, 243);
  border: 3px solid rgb(155, 155, 247);
  border-radius: 10px;
}

.play-imgs {
  height: 150px;
  width: 150px;
  opacity: 40%;
}

.play-imgs:hover {
  opacity: 90%;
}

footer {
  text-align: center;
  padding: 20px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  width: 30%;
  height: 30%;
  overflow: auto;
  background-color: darkgrey;

  box-sizing: border-box;
  text-align: center;
}





